.background {
    background-image: url("./assets/img1.jpg"); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  